* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

#choice button {
    color: white;
    font-family: myFont;
    font-size: 25px;
    border: none;
    background: none;
    outline: none;
}

#choice {
    display: flex;
    justify-content: space-evenly;
}

#restart {
    font-size: 30px;
}

#game-restart {
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}

#game-over {
    font-size: 90px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#papyrus {
    position: fixed;
    top: 70%;
    left: 20%;
    z-index: 10;
    visibility: hidden;
    -webkit-animation: PapyrusMove 3s alternate infinite;
}

@-webkit-keyframes PapyrusMove {
    from {
        left: -300px;
    }

    50% {
        left: 100%;
        top: 20%;
    }

    80% {
        top: 30%;

    }

    to {
        left: -300px;
    }
}

#flowey {
    position: fixed;
    top: 30%;
    left: 50px;
    z-index: 10;
    visibility: hidden;
    -webkit-animation: FloweyMove 2.5s linear infinite;
}

@-webkit-keyframes FloweyMove {
    from {
        left: -300px;
    }

    20% {
        bottom: 80%;
        top: 90%;
    }

    50% {
        left: 100%;
    }

    80% {
        top: 0%;
    }

    to {
        left: -300px;
    }
}

#sans {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    visibility: hidden;
    -webkit-animation: SansMove 2.5s linear infinite;
}

@-webkit-keyframes SansMove {
    from {
        top: 0%;
    }

    20% {
        left: 60%;
        top: 100%;
        left: 50%;
    }

    50% {
        left: 80%;
    }

    80% {
        left: 10%;
    }

    to {
        top: 0%;
    }
}

#asgorr {
    position: fixed;
    top: 30%;
    left: 80%;
    z-index: 10;
    visibility: hidden;
    -webkit-animation: AsgorrMove 2.5s linear infinite;
}

@-webkit-keyframes AsgorrMove {
    from {
        top: 0%;
    }

    20% {
        top: 20%;
        left: 0%;
    }

    30% {
        left: 0%;
        top: 50%;
    }

    50% {
        left: 0%;
        top: 80%;
    }

    70% {
        top: 80%;
        right: 50%;
    }

    80% {
        top: 80%;
        right: 90%;
    }

    90% {
        top: 50%;
        right: 100%;
    }

    100% {
        top: 80%;
        left: 100%;
    }

    to {
        top: 80%;
    }
}



#hp {
    display: flex;
    flex-direction: row;
}

#heart {
    position: fixed;
    left: 10px;
    top: 40px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

#rain-video {
    visibility: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.background-transition {
    background-color: black;
    transition: background-color 1.5s;
}

#score {
    position: fixed;
    color: white;
    top: 10px;
    left: 10px;
    visibility: hidden;
    z-index: 11;
}

#qa-container {
    text-align: center;
    top: 50%;
    visibility: hidden;
}

#qa-container p {
    animation: zoomInOut 4s infinite;
}

#parent-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    padding: 20px;
    margin: 30px 10px;
    border: 4px solid black;
}

.children-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.little-children-div {
    text-align: center;
    padding: 6%;
    height: 25%;
    width: 100%;
    border: 1px solid black;
    outline: none;

}


#flowey-img-div {
    text-align: center;
}

#welcome-message,
#sentence-to-load,
#question-div,
#qa-container,
.little-children-div,
#hidden-msg,
#score,
#heart,
#game-over,
#restart,
#loading-screen-sentence {
    font-family: myFont;
}

#loading-screen-sentence {
    visibility: hidden;
    animation: shake 0.5s infinite;
    color: rgb(0, 0, 139);
    font-size: 35px;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

#sentence-to-load {
    visibility: hidden;
    animation: zoomInOut 1s infinite;
}

#hidden-msg {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 60px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#message {
    font-family: myFont;
    position: relative;
    text-align: center;
    top: 13.33px;
}

img {
    max-width: 20%;
    height: auto;
}

#container {
    visibility: hidden;
    text-align: center;
}

@font-face {
    font-family: myFont;
    src: url(./font/DTM-Sans.otf);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}