* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    cursor: url("./images/blueHeart.png"), auto;
}


#choice button {
    font-family: myFont;
    font-size: 25px;
    border: none;
    background: none;
    outline: none;
}

#choice {
    display: flex;
    justify-content: space-evenly;
}

#restart {
    font-size: 30px;
}

#game-restart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    visibility: hidden;
}

#game-over {
    font-size: 90px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#papyrus {
    position: fixed;
    top: 70%;
    left: 20%;
    z-index: -1;
    visibility: hidden;
    transition: transform 1s;
}

#flowey {
    position: fixed;
    top: 30%;
    left: 50px;
    z-index: -1;
    visibility: hidden;
    transition: transform 1s;
}

#sans {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    visibility: hidden;
    transition: transform 1s;
}

#asgorr {
    position: fixed;
    top: 30%;
    left: 80%;
    z-index: -1;
    visibility: hidden;
    transition: transform 1s;
}



#hp {
    display: flex;
    flex-direction: row;
}

#heart {
    position: fixed;
    left: 10px;
    top: 40px;
    width: 80px;
    height: 80px;
    visibility: hidden;
}

#rain-video {
    visibility: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.background-animation {
    animation: back-change 2s;
    background-color: black;
    /* remettre a 7 */
}

#score {
    position: fixed;
    top: 10px;
    left: 10px;
    visibility: hidden;
}

#qa-container {
    text-align: center;
    padding-top: 10px;
    visibility: hidden;
}

#qa-container p {
    animation: zoomInOut 4s infinite;
}

#parent-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 350px;
    padding: 20px;
    margin: 30px 10px;
    border: 4px solid black;
}

.children-div {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.little-children-div {
    text-align: center;
    padding: 6%;
    height: 25%;
    width: 100%;
    border: 1px solid black;
    outline: none;

}


#flowey-img-div {
    text-align: center;
}

#welcome-message,
#sentence-to-load,
#question-div,
#qa-container,
.little-children-div,
#hidden-msg,
#score,
#heart,
#game-over,
#restart {
    font-family: myFont;
}

#sentence-to-load {
    visibility: hidden;
    animation: zoomInOut 1s infinite;
}

#hidden-msg {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    font-size: 60px;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

#message {
    font-family: myFont;
    position: relative;
    text-align: center;
    top: 13.33px;
}

img {
    max-width: 20%;
    height: auto;
}

#container {
    visibility: hidden;
    text-align: center;
}

@keyframes back-change {
    from {
        background-color: white;
    }

    to {
        background-color: black;
    }
}

@font-face {
    font-family: myFont;
    src: url(./font/DTM-Sans.otf);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes zoomInOut {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}